<link rel="stylesheet" type="text/css" href="style.css">
<table class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>Algorithm</th>
      <th>Anonymised Labels</th>
      <th>Author</th>
      <th>Column Name</th>
      <th>Column Type</th>
      <th>Description</th>
      <th>File Type</th>
      <th>Image Dimension</th>
      <th>Keywords</th>
      <th>License</th>
      <th>No Columns</th>
      <th>No Rows</th>
      <th>Number of Downloads</th>
      <th>Number of views</th>
      <th>Size</th>
      <th>Summary</th>
      <th>Title</th>
      <th>URL</th>
      <th>Unnamed: 0.1.1</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>62</th>
      <td>62</td>
      <td>62</td>
      <td>0</td>
      <td>0.0</td>
      <td>Zeeshan-ul-hassan Usmani</td>
      <td>[S#, Title, Location, Date, Summary, Fatalitie...</td>
      <td>[numeric, string, string, dateTime, string, nu...</td>
      <td>Context Mass Shootings in the United States of...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[united states, crime, violence, terrorism]</td>
      <td>ODbL</td>
      <td>0</td>
      <td>0</td>
      <td>4950.0</td>
      <td>34623.0</td>
      <td>0.663086</td>
      <td>Last 50 Years (1966-2017)</td>
      <td>US Mass Shootings</td>
      <td>https://www.kaggle.com/zusmani/us-mass-shootin...</td>
      <td>62</td>
      <td>Mon Nov 06 2017</td>
    </tr>
    <tr>
      <th>118</th>
      <td>118</td>
      <td>118</td>
      <td>0</td>
      <td>0.0</td>
      <td>Sohier Dane</td>
      <td>[Crime ID, Month, Reported by, Falls within, L...</td>
      <td>[string, dateTime, string, string, numeric, nu...</td>
      <td>This dataset provides a complete snapshot of c...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime, government]</td>
      <td>Other</td>
      <td>0</td>
      <td>0</td>
      <td>407.0</td>
      <td>2550.0</td>
      <td>1024.000000</td>
      <td>A snapshot of crime, outcome, and stop and sea...</td>
      <td>London Police Records</td>
      <td>https://www.kaggle.com/sohier/london-police-re...</td>
      <td>118</td>
      <td>Tue Aug 15 2017</td>
    </tr>
    <tr>
      <th>152</th>
      <td>152</td>
      <td>152</td>
      <td>0</td>
      <td>0.0</td>
      <td>Murder Accountability Project</td>
      <td>[Record ID, Agency Code, Agency Name, Agency T...</td>
      <td>[numeric, string, string, string, string, stri...</td>
      <td>Content The Murder Accountability Project is t...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>CC4</td>
      <td>0</td>
      <td>0</td>
      <td>9413.0</td>
      <td>56071.0</td>
      <td>107.000000</td>
      <td>Can you develop an algorithm to detect serial ...</td>
      <td>Homicide Reports, 1980-2014</td>
      <td>https://www.kaggle.com/murderaccountability/ho...</td>
      <td>152</td>
      <td>Fri Feb 10 2017</td>
    </tr>
    <tr>
      <th>189</th>
      <td>189</td>
      <td>189</td>
      <td>0</td>
      <td>0.0</td>
      <td>Sohier Dane</td>
      <td>[NCIC, AgencyName, ComplaintYear, TotalComplai...</td>
      <td>[numeric, string, numeric, numeric, numeric, n...</td>
      <td>Context This dataset provides information on v...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>0</td>
      <td>0</td>
      <td>169.0</td>
      <td>1198.0</td>
      <td>20.000000</td>
      <td>Records on use of force incidents, officer dea...</td>
      <td>Arrest Related Violence in California</td>
      <td>https://www.kaggle.com/sohier/arrest-related-v...</td>
      <td>189</td>
      <td>Fri Nov 03 2017</td>
    </tr>
    <tr>
      <th>210</th>
      <td>210</td>
      <td>210</td>
      <td>0</td>
      <td>0.0</td>
      <td>Jacob Boysen</td>
      <td>[lsoa_code, borough, major_category, minor_cat...</td>
      <td>[string, string, string, string, numeric, nume...</td>
      <td>Context Crime in major metropolitan areas such...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>0</td>
      <td>0</td>
      <td>647.0</td>
      <td>4503.0</td>
      <td>890.000000</td>
      <td>13M Rows of Crime Counts, by Borough, Category...</td>
      <td>London Crime Data, 2008-2016</td>
      <td>https://www.kaggle.com/jboysen/london-crime</td>
      <td>210</td>
      <td>Thu Aug 03 2017</td>
    </tr>
    <tr>
      <th>231</th>
      <td>231</td>
      <td>231</td>
      <td>0</td>
      <td>0.0</td>
      <td>katzwigmore</td>
      <td>[Record ID, Report Date, Report Time, Major Of...</td>
      <td>[numeric, dateTime, dateTime, string, string, ...</td>
      <td>Content The contents of this data set comes fr...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>0</td>
      <td>0</td>
      <td>231.0</td>
      <td>1863.0</td>
      <td>131.000000</td>
      <td>By Year, Event, and Location</td>
      <td>Portland Oregon Crime Data</td>
      <td>https://www.kaggle.com/katzwigmore/portland-or...</td>
      <td>231</td>
      <td>Mon Sep 25 2017</td>
    </tr>
    <tr>
      <th>276</th>
      <td>276</td>
      <td>276</td>
      <td>0</td>
      <td>0.0</td>
      <td>Karolina Wullum</td>
      <td>[Geographic Area, City, Median Income]</td>
      <td>[string, string, numeric]</td>
      <td>The 2014 killing of Michael Brown in Ferguson ...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[united states, death, crime, violence]</td>
      <td>CC4</td>
      <td>0</td>
      <td>0</td>
      <td>1607.0</td>
      <td>4826.0</td>
      <td>3.000000</td>
      <td>Fatal police shootings in the US since 2015 wi...</td>
      <td>Fatal Police Shootings in the US</td>
      <td>https://www.kaggle.com/kwullum/fatal-police-sh...</td>
      <td>276</td>
      <td>Sat Sep 23 2017</td>
    </tr>
    <tr>
      <th>319</th>
      <td>319</td>
      <td>319</td>
      <td>0</td>
      <td>0.0</td>
      <td>Carlos Paradis</td>
      <td>[Field, Data Item, Data Type, Definition, Exam...</td>
      <td>[string, string, string, string, numeric]</td>
      <td>https//www.youtube.com/watch?v=A8syQeFtBKc  Co...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[united states, crime, violence, terrorism]</td>
      <td>Other</td>
      <td>0</td>
      <td>0</td>
      <td>489.0</td>
      <td>3008.0</td>
      <td>2.000000</td>
      <td>A high quality dataset from 1966-2016 with met...</td>
      <td>Stanford Mass Shootings in America (MSA)</td>
      <td>https://www.kaggle.com/carlosparadis/stanford-msa</td>
      <td>319</td>
      <td>Sun Oct 08 2017</td>
    </tr>
    <tr>
      <th>330</th>
      <td>330</td>
      <td>330</td>
      <td>0</td>
      <td>0.0</td>
      <td>Currie32</td>
      <td>[, ID, Case Number, Date, Block, IUCR, Primary...</td>
      <td>[numeric, numeric, string, dateTime, string, n...</td>
      <td>Context This dataset reflects reported inciden...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>0</td>
      <td>0</td>
      <td>6896.0</td>
      <td>42294.0</td>
      <td>2048.000000</td>
      <td>An extensive dataset of crimes in Chicago (200...</td>
      <td>Crimes in Chicago</td>
      <td>https://www.kaggle.com/currie32/crimes-in-chicago</td>
      <td>330</td>
      <td>Sat Jan 28 2017</td>
    </tr>
    <tr>
      <th>344</th>
      <td>344</td>
      <td>344</td>
      <td>0</td>
      <td>0.0</td>
      <td>Rajanand Ilangovan / இராஜ்ஆனந்த் இளங்கோவன்</td>
      <td>[Area_Name, Year, Group_Name, Sub_Group_Name, ...</td>
      <td>[string, numeric, string, string, numeric, num...</td>
      <td>Connect/Follow me on LinkedIn for more updates...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[india, crime]</td>
      <td>CC4</td>
      <td>0</td>
      <td>0</td>
      <td>1675.0</td>
      <td>9987.0</td>
      <td>12.000000</td>
      <td>State-wise data from 2001 is classified accord...</td>
      <td>Crime in India</td>
      <td>https://www.kaggle.com/rajanand/crime-in-india</td>
      <td>344</td>
      <td>Fri Sep 01 2017</td>
    </tr>
    <tr>
      <th>446</th>
      <td>446</td>
      <td>446</td>
      <td>0</td>
      <td>0.0</td>
      <td>Government of France</td>
      <td>[Index, Libellé index, 2017_08, 2017_07, 2017_...</td>
      <td>[numeric, string, numeric, numeric, numeric, n...</td>
      <td>Context This dataset is an aggregated count of...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[europe, crime]</td>
      <td>ODbL</td>
      <td>0</td>
      <td>0</td>
      <td>375.0</td>
      <td>2477.0</td>
      <td>0.093750</td>
      <td>Monthly counts of crimes committed since 2000</td>
      <td>Crimes Committed in France</td>
      <td>https://www.kaggle.com/government-of-france/cr...</td>
      <td>446</td>
      <td>Fri Sep 29 2017</td>
    </tr>
    <tr>
      <th>469</th>
      <td>469</td>
      <td>469</td>
      <td>0</td>
      <td>0.0</td>
      <td>Daniel Esteves</td>
      <td>[CISP;mes;vano;mes_ano;area_cisp;AISP;RISP;mun...</td>
      <td>[string, numeric, numeric, string, numeric, nu...</td>
      <td>Context Rio de Janeiro is one of the most beau...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[]</td>
      <td>CC0</td>
      <td>0</td>
      <td>0</td>
      <td>192.0</td>
      <td>1467.0</td>
      <td>4.000000</td>
      <td>Crime records from Rio de Janeiro State</td>
      <td>Rio de Janeiro Crime Records</td>
      <td>https://www.kaggle.com/danielesteves/rio-polic...</td>
      <td>469</td>
      <td>Tue Aug 15 2017</td>
    </tr>
    <tr>
      <th>577</th>
      <td>577</td>
      <td>577</td>
      <td>0</td>
      <td>0.0</td>
      <td>Mike Chirico</td>
      <td>[Dc_Dist, Psa, Dispatch_Date_Time, Dispatch_Da...</td>
      <td>[numeric, numeric, string, dateTime, string, n...</td>
      <td>Crime Data for Philadelphia To get started qui...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>0</td>
      <td>0</td>
      <td>5159.0</td>
      <td>42510.0</td>
      <td>296.000000</td>
      <td>Ten Years of Crime Data, by OpenDataPhilly</td>
      <td>Philadelphia Crime Data</td>
      <td>https://www.kaggle.com/mchirico/philadelphiacr...</td>
      <td>577</td>
      <td>Fri Mar 24 2017</td>
    </tr>
    <tr>
      <th>612</th>
      <td>612</td>
      <td>612</td>
      <td>0</td>
      <td>0.0</td>
      <td>Mike Chirico</td>
      <td>[incident_id, case_number, incident_datetime, ...</td>
      <td>[numeric, dateTime, dateTime, string, string, ...</td>
      <td>Cheltenham PA Crime Data Cheltenham is a home ...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>ODbL</td>
      <td>0</td>
      <td>0</td>
      <td>248.0</td>
      <td>3017.0</td>
      <td>1.000000</td>
      <td>Cheltenham Township Police Department incident...</td>
      <td>Cheltenham Crime Data</td>
      <td>https://www.kaggle.com/mchirico/chtpd</td>
      <td>612</td>
      <td>Sat Dec 16 2017</td>
    </tr>
    <tr>
      <th>681</th>
      <td>681</td>
      <td>681</td>
      <td>0</td>
      <td>0.0</td>
      <td>LucasVinze</td>
      <td>[, X, REPORT_DAT, SHIFT, OFFENSE, METHOD, BLOC...</td>
      <td>[numeric, numeric, dateTime, string, string, s...</td>
      <td>Dataset of all of the crimes in the DC metro p...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>0</td>
      <td>0</td>
      <td>1703.0</td>
      <td>13535.0</td>
      <td>109.000000</td>
      <td>Consolidated set of all registered crimes from...</td>
      <td>DC Metro Crime Data</td>
      <td>https://www.kaggle.com/vinchinzu/dc-metro-crim...</td>
      <td>681</td>
      <td>Fri Nov 03 2017</td>
    </tr>
    <tr>
      <th>729</th>
      <td>729</td>
      <td>729</td>
      <td>0</td>
      <td>0.0</td>
      <td>New America</td>
      <td>[plot_ID, plot_name, plot_ideology, plot_statu...</td>
      <td>[numeric, string, string, string, string, date...</td>
      <td>Content The data in this report consists of in...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[history, crime]</td>
      <td>CC0</td>
      <td>0</td>
      <td>0</td>
      <td>522.0</td>
      <td>3500.0</td>
      <td>0.080078</td>
      <td>Terrorist activity in the United States and by...</td>
      <td>Terrorism in America, 2001-Present</td>
      <td>https://www.kaggle.com/newamerica/terrorist-ac...</td>
      <td>729</td>
      <td>Wed Feb 01 2017</td>
    </tr>
    <tr>
      <th>786</th>
      <td>786</td>
      <td>786</td>
      <td>0</td>
      <td>0.0</td>
      <td>Rachael Tatman</td>
      <td>[State, Year, Mo, Day, Victim, County, Race, S...</td>
      <td>[string, numeric, numeric, numeric, string, st...</td>
      <td>Context "Lynching" historically includes not o...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[united states, death, crime, violence]</td>
      <td>CC4</td>
      <td>0</td>
      <td>0</td>
      <td>46.0</td>
      <td>850.0</td>
      <td>0.180664</td>
      <td>Information on 2806 lynchings in the United St...</td>
      <td>Historical American Lynching</td>
      <td>https://www.kaggle.com/rtatman/historical-amer...</td>
      <td>786</td>
      <td>Thu Aug 17 2017</td>
    </tr>
    <tr>
      <th>929</th>
      <td>929</td>
      <td>929</td>
      <td>0</td>
      <td>0.0</td>
      <td>The Marshall Project</td>
      <td>[report_year, agency_code, agency_jurisdiction...</td>
      <td>[numeric, string, string, numeric, numeric, nu...</td>
      <td>Context Is crime in America rising or falling?...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[history, crime]</td>
      <td>Other</td>
      <td>0</td>
      <td>0</td>
      <td>1303.0</td>
      <td>7123.0</td>
      <td>0.251953</td>
      <td>Are violent crime rates rising or falling in A...</td>
      <td>Crime in Context, 1975-2015</td>
      <td>https://www.kaggle.com/marshallproject/crime-r...</td>
      <td>929</td>
      <td>Fri Feb 10 2017</td>
    </tr>
    <tr>
      <th>994</th>
      <td>994</td>
      <td>994</td>
      <td>0</td>
      <td>0.0</td>
      <td>The Washington Post</td>
      <td>[id, name, date, manner_of_death, armed, age, ...</td>
      <td>[numeric, string, dateTime, string, string, nu...</td>
      <td>The Washington Post is compiling a database of...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime, demographics]</td>
      <td>CC4</td>
      <td>0</td>
      <td>0</td>
      <td>1743.0</td>
      <td>10042.0</td>
      <td>0.187500</td>
      <td>Civilians shot and killed by on-duty police of...</td>
      <td>Fatal Police Shootings, 2015-Present</td>
      <td>https://www.kaggle.com/washingtonpost/police-s...</td>
      <td>994</td>
      <td>Sat Mar 11 2017</td>
    </tr>
    <tr>
      <th>1002</th>
      <td>1002</td>
      <td>1002</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>[President, Fiscal Year, Petitions Pending, Pe...</td>
      <td>[string, numeric, numeric, numeric, numeric, n...</td>
      <td>Context On April 23 2014 the Department of Jus...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[]</td>
      <td>CC0</td>
      <td>0</td>
      <td>0</td>
      <td>217.0</td>
      <td>2698.0</td>
      <td>0.007812</td>
      <td>Petitions for executive clemency granted and d...</td>
      <td>Presidential Pardons, 1900-2017</td>
      <td>https://www.kaggle.com/doj/presidential-pardons</td>
      <td>1002</td>
      <td>Fri Jan 20 2017</td>
    </tr>
    <tr>
      <th>1127</th>
      <td>1127</td>
      <td>1129</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>An annual publication in which the FBI compile...</td>
      <td>None</td>
      <td>0.0</td>
      <td>[aggravated-assault, arrests, arson, assault, ...</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>177.0</td>
      <td>177.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Crime in the United States - 2014</td>
      <td>https://catalog.data.gov/dataset/crime-in-the-...</td>
      <td>1129</td>
      <td>2016-02-23</td>
    </tr>
    <tr>
      <th>1169</th>
      <td>1169</td>
      <td>1171</td>
      <td>0</td>
      <td>0.0</td>
      <td>State of New York</td>
      <td>0</td>
      <td>0</td>
      <td>The Division of Criminal Justice Services (DCJ...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[firearms, index-crime, public-safety, ucr]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>118.0</td>
      <td>118.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Index, Violent, Property, and Firearm Rates By...</td>
      <td>https://catalog.data.gov/dataset/index-violent...</td>
      <td>1171</td>
      <td>2017-12-07</td>
    </tr>
    <tr>
      <th>1191</th>
      <td>1191</td>
      <td>1193</td>
      <td>0</td>
      <td>0.0</td>
      <td>Montgomery County of Maryland</td>
      <td>0</td>
      <td>0</td>
      <td>Updated daily postings on Montgomery County’s ...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[arson, assault, crime, district, incidents, m...</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>103.0</td>
      <td>103.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Crime</td>
      <td>https://catalog.data.gov/dataset/crime</td>
      <td>1193</td>
      <td>2018-02-20</td>
    </tr>
    <tr>
      <th>1299</th>
      <td>1299</td>
      <td>1301</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Austin</td>
      <td>0</td>
      <td>0</td>
      <td>This dataset encompasses all of the Part 1 cri...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime, police]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>65.0</td>
      <td>65.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Annual Crime Dataset 2015</td>
      <td>https://catalog.data.gov/dataset/annual-crime-...</td>
      <td>1301</td>
      <td>2017-09-21</td>
    </tr>
    <tr>
      <th>1320</th>
      <td>1320</td>
      <td>1322</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>Federal Bureau of Investigation Department of ...</td>
      <td>0</td>
      <td>0.0</td>
      <td>[arrested-person, arson, crime-in-the-united, ...</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>58.0</td>
      <td>58.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Uniform Crime Reporting (UCR) Program</td>
      <td>https://catalog.data.gov/dataset/uniform-crime...</td>
      <td>1322</td>
      <td>2010-03-29T00:00:00Z</td>
    </tr>
    <tr>
      <th>1335</th>
      <td>1335</td>
      <td>1337</td>
      <td>0</td>
      <td>0.0</td>
      <td>Town of Cary, North Carolina</td>
      <td>0</td>
      <td>0</td>
      <td>The police incidents will provide data on the ...</td>
      <td>JSON</td>
      <td>0.0</td>
      <td>[crime, incidents, mapping, part-i, part-ii, p...</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>56.0</td>
      <td>56.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Crime Mapping</td>
      <td>https://catalog.data.gov/dataset/crime-mapping</td>
      <td>1337</td>
      <td>2016-03-14T20:12:29+00:00</td>
    </tr>
    <tr>
      <th>1429</th>
      <td>1429</td>
      <td>1431</td>
      <td>0</td>
      <td>0.0</td>
      <td>Allegheny County / City of Pittsburgh / Wester...</td>
      <td>0</td>
      <td>0</td>
      <td>The Police Blotter Archive contains crime inci...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[_etl, arrests, crimes, incidents, police, pub...</td>
      <td>See this page for license information.</td>
      <td>0</td>
      <td>0</td>
      <td>44.0</td>
      <td>44.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Police Incident Blotter (Archive)</td>
      <td>https://catalog.data.gov/dataset/police-incide...</td>
      <td>1431</td>
      <td>2018-02-20T09:22:37.326867</td>
    </tr>
    <tr>
      <th>1431</th>
      <td>1431</td>
      <td>1433</td>
      <td>0</td>
      <td>0.0</td>
      <td>State of New York</td>
      <td>0</td>
      <td>0</td>
      <td>Under New York State’s Hate Crime Law (Penal L...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[hate-crime, public-safety, ucr]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>44.0</td>
      <td>44.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Hate Crimes by County and Bias Type: Beginning...</td>
      <td>https://catalog.data.gov/dataset/hate-crimes-b...</td>
      <td>1433</td>
      <td>2017-11-15</td>
    </tr>
    <tr>
      <th>1544</th>
      <td>1544</td>
      <td>1546</td>
      <td>0</td>
      <td>0.0</td>
      <td>Allegheny County / City of Pittsburgh / Wester...</td>
      <td>0</td>
      <td>0</td>
      <td>Non-traffic citations (NTCs also known as "sum...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[_etl, citations, crimes, justice, ntc, offens...</td>
      <td>See this page for license information.</td>
      <td>0</td>
      <td>0</td>
      <td>34.0</td>
      <td>34.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Non-Traffic Citations</td>
      <td>https://catalog.data.gov/dataset/non-traffic-c...</td>
      <td>1546</td>
      <td>2018-02-20T08:33:58.015821</td>
    </tr>
    <tr>
      <th>1572</th>
      <td>1572</td>
      <td>1574</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Seattle</td>
      <td>0</td>
      <td>0</td>
      <td>This dataset is all the Police responses to 9-...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[911, census911incidents, crime, incident-resp...</td>
      <td>See this page for license information.</td>
      <td>0</td>
      <td>0</td>
      <td>32.0</td>
      <td>32.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Seattle Police Department 911 Incident Response</td>
      <td>https://catalog.data.gov/dataset/seattle-polic...</td>
      <td>1574</td>
      <td>2018-02-22</td>
    </tr>
    <tr>
      <th>1588</th>
      <td>1588</td>
      <td>1590</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>An annual publication in which the FBI provide...</td>
      <td>None</td>
      <td>0.0</td>
      <td>[bias-crimes, bias-motivated, hate-crimes]</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>32.0</td>
      <td>32.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Hate Crime Statistics, 2014</td>
      <td>https://catalog.data.gov/dataset/hate-crime-st...</td>
      <td>1590</td>
      <td>2014-11-30</td>
    </tr>
    <tr>
      <th>1723</th>
      <td>1723</td>
      <td>1725</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Chicago</td>
      <td>0</td>
      <td>0</td>
      <td>Illinois Uniform Crime Reporting (IUCR) codes ...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[crime, police]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>25.0</td>
      <td>25.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Chicago Police Department - Illinois Uniform C...</td>
      <td>https://catalog.data.gov/dataset/chicago-polic...</td>
      <td>1725</td>
      <td>2017-09-27</td>
    </tr>
    <tr>
      <th>1734</th>
      <td>1734</td>
      <td>1736</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>The FBI's Uniform Crime Reporting (UCR) system...</td>
      <td>None</td>
      <td>0.0</td>
      <td>[arrested-person, arson, crime-in-the-united, ...</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>24.0</td>
      <td>24.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Uniform Crime Reporting</td>
      <td>https://catalog.data.gov/dataset/uniform-crime...</td>
      <td>1736</td>
      <td>2014-11-30</td>
    </tr>
    <tr>
      <th>1850</th>
      <td>1850</td>
      <td>1852</td>
      <td>0</td>
      <td>0.0</td>
      <td>Allegheny County / City of Pittsburgh / Wester...</td>
      <td>0</td>
      <td>0</td>
      <td>Arrest data contains information on people tak...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[_etl, arrests, police, public-safety]</td>
      <td>See this page for license information.</td>
      <td>0</td>
      <td>0</td>
      <td>21.0</td>
      <td>21.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Pittsburgh Police Arrest Data</td>
      <td>https://catalog.data.gov/dataset/pittsburgh-po...</td>
      <td>1852</td>
      <td>2018-02-20T08:28:15.264180</td>
    </tr>
    <tr>
      <th>1865</th>
      <td>1865</td>
      <td>1867</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>An annual publication in which the FBI provide...</td>
      <td>None</td>
      <td>0.0</td>
      <td>[aggravated-assault, arrests, arson, assault, ...</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>National Incident-Based Reporting System, 2014</td>
      <td>https://catalog.data.gov/dataset/national-inci...</td>
      <td>1867</td>
      <td>2014-11-30</td>
    </tr>
    <tr>
      <th>1870</th>
      <td>1870</td>
      <td>1872</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Seattle</td>
      <td>0</td>
      <td>0</td>
      <td>These incidents are based on initial police re...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[census911incidents, crime, police, police-rep...</td>
      <td>See this page for license information.</td>
      <td>0</td>
      <td>0</td>
      <td>20.0</td>
      <td>20.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Seattle Police Department Police Report Incident</td>
      <td>https://catalog.data.gov/dataset/seattle-polic...</td>
      <td>1872</td>
      <td>2018-02-22</td>
    </tr>
    <tr>
      <th>1977</th>
      <td>1977</td>
      <td>1979</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>An annual publication in which the FBI compile...</td>
      <td>None</td>
      <td>0.0</td>
      <td>[aggravated-assault, arrests, arson, assault, ...</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>18.0</td>
      <td>18.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Crime in the United States - 2009</td>
      <td>https://catalog.data.gov/dataset/crime-in-the-...</td>
      <td>1979</td>
      <td>2014-11-30</td>
    </tr>
    <tr>
      <th>1987</th>
      <td>1987</td>
      <td>1989</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Jackson, Mississippi</td>
      <td>0</td>
      <td>0</td>
      <td>This data set provides information on all Part...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[citations, city-of-jackson, crime, major, par...</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>18.0</td>
      <td>18.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Major Crimes (Monthly)</td>
      <td>https://catalog.data.gov/dataset/major-crimes-...</td>
      <td>1989</td>
      <td>2016-09-07</td>
    </tr>
    <tr>
      <th>2128</th>
      <td>2128</td>
      <td>2130</td>
      <td>0</td>
      <td>0.0</td>
      <td>Town of Cary, North Carolina</td>
      <td>0</td>
      <td>0</td>
      <td>Explore Crime and Safety data from the Cary Po...</td>
      <td>JSON</td>
      <td>0.0</td>
      <td>[crime, incidents, police]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>16.0</td>
      <td>16.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Police Incidents</td>
      <td>https://catalog.data.gov/dataset/police-incidents</td>
      <td>2130</td>
      <td>2016-01-28T22:18:32+00:00</td>
    </tr>
    <tr>
      <th>2179</th>
      <td>2179</td>
      <td>2181</td>
      <td>0</td>
      <td>0.0</td>
      <td>State of Illinois</td>
      <td>0</td>
      <td>0</td>
      <td>This dataset was compiled by the Illinois Crim...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[children, crime, governors-childrens..., offe...</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>15.0</td>
      <td>15.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Governor's Children's Cabinet County Crime Rat...</td>
      <td>https://catalog.data.gov/dataset/governors-chi...</td>
      <td>2181</td>
      <td>2017-08-02</td>
    </tr>
    <tr>
      <th>2211</th>
      <td>2211</td>
      <td>2213</td>
      <td>0</td>
      <td>0.0</td>
      <td>Louisville Metro Government</td>
      <td>0</td>
      <td>0</td>
      <td>Crime data is provided for Louisville Metro Po...</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[no-keyword-provided]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>15.0</td>
      <td>15.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Crime Data</td>
      <td>https://catalog.data.gov/dataset/crime-data</td>
      <td>2213</td>
      <td>2016-10-26</td>
    </tr>
    <tr>
      <th>2480</th>
      <td>2480</td>
      <td>2482</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Charlotte</td>
      <td>0</td>
      <td>0</td>
      <td>CMPD conducts an average of 120000 traffic sto...</td>
      <td>HTML</td>
      <td>0.0</td>
      <td>[charlotte, mecklenburg, nc, officer, police, ...</td>
      <td>See this page for license information.</td>
      <td>0</td>
      <td>0</td>
      <td>12.0</td>
      <td>12.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Officer Traffic Stops</td>
      <td>https://catalog.data.gov/dataset/officer-traff...</td>
      <td>2482</td>
      <td>2017-11-15T21:57:42.159Z</td>
    </tr>
    <tr>
      <th>2547</th>
      <td>2547</td>
      <td>2549</td>
      <td>0</td>
      <td>0.0</td>
      <td>Department of Justice</td>
      <td>0</td>
      <td>0</td>
      <td>An annual publication in which the FBI compile...</td>
      <td>None</td>
      <td>0.0</td>
      <td>[aggravated-assault, arrests, arson, assault, ...</td>
      <td>No license information was provided. If this w...</td>
      <td>0</td>
      <td>0</td>
      <td>11.0</td>
      <td>11.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>Crime in the United States - 2013</td>
      <td>https://catalog.data.gov/dataset/crime-in-the-...</td>
      <td>2549</td>
      <td>2014-11-30</td>
    </tr>
    <tr>
      <th>2625</th>
      <td>2625</td>
      <td>2627</td>
      <td>0</td>
      <td>0.0</td>
      <td>City of Austin</td>
      <td>0</td>
      <td>0</td>
      <td>AUSTIN POLICE DEPARTMENT DATA DISCLAIMER    1....</td>
      <td>CSV</td>
      <td>0.0</td>
      <td>[annual-crime, police, public-safety]</td>
      <td>No license information was provided.</td>
      <td>0</td>
      <td>0</td>
      <td>11.0</td>
      <td>11.0</td>
      <td>0.000000</td>
      <td>0</td>
      <td>2016 Annual Crime Data</td>
      <td>https://catalog.data.gov/dataset/2016-annual-c...</td>
      <td>2627</td>
      <td>2017-09-21</td>
    </tr>
  </tbody>
</table>