<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Algorithm</th>
      <th>Anonymised Labels</th>
      <th>Author</th>
      <th>Column Name</th>
      <th>Column Type</th>
      <th>Description</th>
      <th>File Type</th>
      <th>Image Dimension</th>
      <th>Keywords</th>
      <th>License</th>
      <th>No Columns</th>
      <th>No Rows</th>
      <th>Number of Downloads</th>
      <th>Number of views</th>
      <th>Size</th>
      <th>Summary</th>
      <th>Title</th>
      <th>URL</th>
      <th>Unnamed: 0.1</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>54</th>
      <td>54</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>Sohier Dane</td>
      <td>[CrimeDate, CrimeTime, CrimeCode, Location, De...</td>
      <td>[dateTime, dateTime, string, string, string, s...</td>
      <td>All BPD data on Open Baltimore is preliminary ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>887.0</td>
      <td>5303.0</td>
      <td>39.000000</td>
      <td>Crime data for 2012-2017</td>
      <td>Crime in Baltimore</td>
      <td>https://www.kaggle.com/sohier/crime-in-baltimore</td>
      <td>54</td>
      <td>Wed Sep 13 2017</td>
    </tr>
    <tr>
      <th>62</th>
      <td>62</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>Zeeshan-ul-hassan Usmani</td>
      <td>[S#, Title, Location, Date, Summary, Fatalitie...</td>
      <td>[numeric, string, string, dateTime, string, nu...</td>
      <td>Context Mass Shootings in the United States of...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[united states, crime, violence, terrorism]</td>
      <td>ODbL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>4950.0</td>
      <td>34623.0</td>
      <td>0.663086</td>
      <td>Last 50 Years (1966-2017)</td>
      <td>US Mass Shootings</td>
      <td>https://www.kaggle.com/zusmani/us-mass-shootin...</td>
      <td>62</td>
      <td>Mon Nov 06 2017</td>
    </tr>
    <tr>
      <th>98</th>
      <td>98</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>START Consortium</td>
      <td>[eventid, iyear, imonth, iday, approxdate, ext...</td>
      <td>[numeric, numeric, numeric, numeric, string, n...</td>
      <td>Context Information on more than 170000 Terror...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime, terrorism, international relations]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26370.0</td>
      <td>188226.0</td>
      <td>144.000000</td>
      <td>More than 170,000 terrorist attacks worldwide,...</td>
      <td>Global Terrorism Database</td>
      <td>https://www.kaggle.com/START-UMD/gtd</td>
      <td>98</td>
      <td>Tue Jul 18 2017</td>
    </tr>
    <tr>
      <th>109</th>
      <td>109</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>91.0</td>
      <td>810.0</td>
      <td>2048.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Washington State</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>109</td>
      <td>Tue Jul 11 2017</td>
    </tr>
    <tr>
      <th>118</th>
      <td>118</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>Sohier Dane</td>
      <td>[Crime ID, Month, Reported by, Falls within, L...</td>
      <td>[string, dateTime, string, string, numeric, nu...</td>
      <td>This dataset provides a complete snapshot of c...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime, government]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>407.0</td>
      <td>2550.0</td>
      <td>1024.000000</td>
      <td>A snapshot of crime, outcome, and stop and sea...</td>
      <td>London Police Records</td>
      <td>https://www.kaggle.com/sohier/london-police-re...</td>
      <td>118</td>
      <td>Tue Aug 15 2017</td>
    </tr>
    <tr>
      <th>134</th>
      <td>134</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>John Ruth</td>
      <td>[FILE NUMBER, OFFENSE DATE, OFFENSE TIME, CRIM...</td>
      <td>[numeric, dateTime, string, string, string, st...</td>
      <td>Context Crimes reported in Baton Rouge and han...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>95.0</td>
      <td>765.0</td>
      <td>66.000000</td>
      <td>Through September 21st, 2017</td>
      <td>Baton Rouge Crime Incidents</td>
      <td>https://www.kaggle.com/johnruth/baton-rouge-cr...</td>
      <td>134</td>
      <td>Fri Sep 22 2017</td>
    </tr>
    <tr>
      <th>152</th>
      <td>152</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>Murder Accountability Project</td>
      <td>[Record ID, Agency Code, Agency Name, Agency T...</td>
      <td>[numeric, string, string, string, string, stri...</td>
      <td>Content The Murder Accountability Project is t...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>9413.0</td>
      <td>56071.0</td>
      <td>107.000000</td>
      <td>Can you develop an algorithm to detect serial ...</td>
      <td>Homicide Reports, 1980-2014</td>
      <td>https://www.kaggle.com/murderaccountability/ho...</td>
      <td>152</td>
      <td>Fri Feb 10 2017</td>
    </tr>
    <tr>
      <th>189</th>
      <td>189</td>
      <td>NaN</td>
      <td>0.0</td>
      <td>Sohier Dane</td>
      <td>[NCIC, AgencyName, ComplaintYear, TotalComplai...</td>
      <td>[numeric, string, numeric, numeric, numeric, n...</td>
      <td>Context This dataset provides information on v...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>169.0</td>
      <td>1198.0</td>
      <td>20.000000</td>
      <td>Records on use of force incidents, officer dea...</td>
      <td>Arrest Related Violence in California</td>
      <td>https://www.kaggle.com/sohier/arrest-related-v...</td>
      <td>189</td>
      <td>Fri Nov 03 2017</td>
    </tr>
    <tr>
      <th>210</th>
      <td>210</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Jacob Boysen</td>
      <td>[lsoa_code, borough, major_category, minor_cat...</td>
      <td>[string, string, string, string, numeric, nume...</td>
      <td>Context Crime in major metropolitan areas such...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>647.0</td>
      <td>4503.0</td>
      <td>890.000000</td>
      <td>13M Rows of Crime Counts, by Borough, Category...</td>
      <td>London Crime Data, 2008-2016</td>
      <td>https://www.kaggle.com/jboysen/london-crime</td>
      <td>210</td>
      <td>Thu Aug 03 2017</td>
    </tr>
    <tr>
      <th>214</th>
      <td>214</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[id, state, stop_date, stop_time, location_raw...</td>
      <td>[string, string, dateTime, string, string, str...</td>
      <td>Context On a typical day in the United States ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[government agencies, crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>119.0</td>
      <td>1036.0</td>
      <td>2048.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - California</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>214</td>
      <td>Tue Jul 11 2017</td>
    </tr>
    <tr>
      <th>231</th>
      <td>231</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>katzwigmore</td>
      <td>[Record ID, Report Date, Report Time, Major Of...</td>
      <td>[numeric, dateTime, dateTime, string, string, ...</td>
      <td>Content The contents of this data set comes fr...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>231.0</td>
      <td>1863.0</td>
      <td>131.000000</td>
      <td>By Year, Event, and Location</td>
      <td>Portland Oregon Crime Data</td>
      <td>https://www.kaggle.com/katzwigmore/portland-or...</td>
      <td>231</td>
      <td>Mon Sep 25 2017</td>
    </tr>
    <tr>
      <th>258</th>
      <td>258</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Jacob Boysen</td>
      <td>[ACTOR1, ACTOR1_ID, ACTOR2, ACTOR2_ID, ACTOR_D...</td>
      <td>[string, string, string, string, string, strin...</td>
      <td>Context The Armed Conflict Location and Event ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[war]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>95.0</td>
      <td>1138.0</td>
      <td>59.000000</td>
      <td>Details on 165k Conflicts Across Africa Over T...</td>
      <td>ACLED African Conflicts, 1997-2017</td>
      <td>https://www.kaggle.com/jboysen/african-conflicts</td>
      <td>258</td>
      <td>Tue Aug 08 2017</td>
    </tr>
    <tr>
      <th>276</th>
      <td>276</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Karolina Wullum</td>
      <td>[Geographic Area, City, Median Income]</td>
      <td>[string, string, numeric]</td>
      <td>The 2014 killing of Michael Brown in Ferguson ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[united states, death, crime, violence]</td>
      <td>CC4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1607.0</td>
      <td>4826.0</td>
      <td>3.000000</td>
      <td>Fatal police shootings in the US since 2015 wi...</td>
      <td>Fatal Police Shootings in the US</td>
      <td>https://www.kaggle.com/kwullum/fatal-police-sh...</td>
      <td>276</td>
      <td>Sat Sep 23 2017</td>
    </tr>
    <tr>
      <th>287</th>
      <td>287</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>67.0</td>
      <td>740.0</td>
      <td>1024.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - North Carolina</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>287</td>
      <td>Tue Jul 11 2017</td>
    </tr>
    <tr>
      <th>292</th>
      <td>292</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[government agencies, crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>90.0</td>
      <td>949.0</td>
      <td>1008.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Florida</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>292</td>
      <td>Fri Jul 21 2017</td>
    </tr>
    <tr>
      <th>314</th>
      <td>314</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[government agencies, crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>120.0</td>
      <td>683.0</td>
      <td>1024.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Bundle 2</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>314</td>
      <td>Tue Aug 01 2017</td>
    </tr>
    <tr>
      <th>319</th>
      <td>319</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Carlos Paradis</td>
      <td>[Field, Data Item, Data Type, Definition, Exam...</td>
      <td>[string, string, string, string, numeric]</td>
      <td>https//www.youtube.com/watch?v=A8syQeFtBKc  Co...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[united states, crime, violence, terrorism]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>489.0</td>
      <td>3008.0</td>
      <td>2.000000</td>
      <td>A high quality dataset from 1966-2016 with met...</td>
      <td>Stanford Mass Shootings in America (MSA)</td>
      <td>https://www.kaggle.com/carlosparadis/stanford-msa</td>
      <td>319</td>
      <td>Sun Oct 08 2017</td>
    </tr>
    <tr>
      <th>330</th>
      <td>330</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Currie32</td>
      <td>[, ID, Case Number, Date, Block, IUCR, Primary...</td>
      <td>[numeric, numeric, string, dateTime, string, n...</td>
      <td>Context This dataset reflects reported inciden...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6896.0</td>
      <td>42294.0</td>
      <td>2048.000000</td>
      <td>An extensive dataset of crimes in Chicago (200...</td>
      <td>Crimes in Chicago</td>
      <td>https://www.kaggle.com/currie32/crimes-in-chicago</td>
      <td>330</td>
      <td>Sat Jan 28 2017</td>
    </tr>
    <tr>
      <th>344</th>
      <td>344</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Rajanand Ilangovan / இராஜ்ஆனந்த் இளங்கோவன்</td>
      <td>[Area_Name, Year, Group_Name, Sub_Group_Name, ...</td>
      <td>[string, numeric, string, string, numeric, num...</td>
      <td>Connect/Follow me on LinkedIn for more updates...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[india, crime]</td>
      <td>CC4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1675.0</td>
      <td>9987.0</td>
      <td>12.000000</td>
      <td>State-wise data from 2001 is classified accord...</td>
      <td>Crime in India</td>
      <td>https://www.kaggle.com/rajanand/crime-in-india</td>
      <td>344</td>
      <td>Fri Sep 01 2017</td>
    </tr>
    <tr>
      <th>378</th>
      <td>378</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>57.0</td>
      <td>616.0</td>
      <td>1017.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Illinois</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>378</td>
      <td>Fri Jul 21 2017</td>
    </tr>
    <tr>
      <th>407</th>
      <td>407</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Jacob Boysen</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context Crime in growing cities such as Austin...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>154.0</td>
      <td>1342.0</td>
      <td>19.000000</td>
      <td>159k Crime Reports, 2014-2016</td>
      <td>Austin Crime Statistics</td>
      <td>https://www.kaggle.com/jboysen/austin-crime</td>
      <td>407</td>
      <td>Thu Aug 03 2017</td>
    </tr>
    <tr>
      <th>431</th>
      <td>431</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[id, state, stop_date, stop_time, location_raw...</td>
      <td>[string, string, dateTime, string, string, str...</td>
      <td>Context On a typical day in the United States ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[government agencies, crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>161.0</td>
      <td>1099.0</td>
      <td>2048.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Bundle 1</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>431</td>
      <td>Fri Jul 28 2017</td>
    </tr>
    <tr>
      <th>446</th>
      <td>446</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Government of France</td>
      <td>[Index, Libellé index, 2017_08, 2017_07, 2017_...</td>
      <td>[numeric, string, numeric, numeric, numeric, n...</td>
      <td>Context This dataset is an aggregated count of...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[europe, crime]</td>
      <td>ODbL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>375.0</td>
      <td>2477.0</td>
      <td>0.093750</td>
      <td>Monthly counts of crimes committed since 2000</td>
      <td>Crimes Committed in France</td>
      <td>https://www.kaggle.com/government-of-france/cr...</td>
      <td>446</td>
      <td>Fri Sep 29 2017</td>
    </tr>
    <tr>
      <th>469</th>
      <td>469</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Daniel Esteves</td>
      <td>[CISP;mes;vano;mes_ano;area_cisp;AISP;RISP;mun...</td>
      <td>[string, numeric, numeric, string, numeric, nu...</td>
      <td>Context Rio de Janeiro is one of the most beau...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>192.0</td>
      <td>1467.0</td>
      <td>4.000000</td>
      <td>Crime records from Rio de Janeiro State</td>
      <td>Rio de Janeiro Crime Records</td>
      <td>https://www.kaggle.com/danielesteves/rio-polic...</td>
      <td>469</td>
      <td>Tue Aug 15 2017</td>
    </tr>
    <tr>
      <th>487</th>
      <td>487</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Sohier Dane</td>
      <td>[CAD CDW ID, CAD Event Number, General Offense...</td>
      <td>[numeric, numeric, numeric, numeric, string, s...</td>
      <td>This dataset records police responses to 911 c...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>142.0</td>
      <td>1479.0</td>
      <td>362.000000</td>
      <td>1.4 million responses from 2009 onwards</td>
      <td>Seattle Police Department 911 Incident Response</td>
      <td>https://www.kaggle.com/sohier/seattle-police-d...</td>
      <td>487</td>
      <td>Wed Aug 30 2017</td>
    </tr>
    <tr>
      <th>514</th>
      <td>514</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[government agencies, crime, law, violence]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>42.0</td>
      <td>678.0</td>
      <td>2048.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - South Carolina</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>514</td>
      <td>Tue Jul 11 2017</td>
    </tr>
    <tr>
      <th>565</th>
      <td>565</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Connecticut Open Data</td>
      <td>[DOWNLOAD DATE, IDENTIFIER, LATEST ADMISSION D...</td>
      <td>[dateTime, string, dateTime, string, string, n...</td>
      <td>Context Since July 1 2016 Connecticut has upda...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34.0</td>
      <td>598.0</td>
      <td>115.000000</td>
      <td>Inmates being held in correcitonal facilities ...</td>
      <td>Connecticut inmates awaiting trial</td>
      <td>https://www.kaggle.com/Connecticut-open-data/c...</td>
      <td>565</td>
      <td>Thu Jul 27 2017</td>
    </tr>
    <tr>
      <th>577</th>
      <td>577</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Mike Chirico</td>
      <td>[Dc_Dist, Psa, Dispatch_Date_Time, Dispatch_Da...</td>
      <td>[numeric, numeric, string, dateTime, string, n...</td>
      <td>Crime Data for Philadelphia To get started qui...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>5159.0</td>
      <td>42510.0</td>
      <td>296.000000</td>
      <td>Ten Years of Crime Data, by OpenDataPhilly</td>
      <td>Philadelphia Crime Data</td>
      <td>https://www.kaggle.com/mchirico/philadelphiacr...</td>
      <td>577</td>
      <td>Fri Mar 24 2017</td>
    </tr>
    <tr>
      <th>578</th>
      <td>578</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>United States Air Force</td>
      <td>[GLOSSARY_ID, AIRCRAFT, FULL_NAME, WEBSITE_LIN...</td>
      <td>[numeric, string, string, string, string]</td>
      <td>Context THOR is a painstakingly cultivated dat...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[military, war]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>74.0</td>
      <td>889.0</td>
      <td>4.000000</td>
      <td>Details on 12.8k Bombing Runs</td>
      <td>Korean War Bombing Runs</td>
      <td>https://www.kaggle.com/usaf/korean-war-bombing...</td>
      <td>578</td>
      <td>Thu Sep 14 2017</td>
    </tr>
    <tr>
      <th>612</th>
      <td>612</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Mike Chirico</td>
      <td>[incident_id, case_number, incident_datetime, ...</td>
      <td>[numeric, dateTime, dateTime, string, string, ...</td>
      <td>Cheltenham PA Crime Data Cheltenham is a home ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>ODbL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>248.0</td>
      <td>3017.0</td>
      <td>1.000000</td>
      <td>Cheltenham Township Police Department incident...</td>
      <td>Cheltenham Crime Data</td>
      <td>https://www.kaggle.com/mchirico/chtpd</td>
      <td>612</td>
      <td>Sat Dec 16 2017</td>
    </tr>
    <tr>
      <th>617</th>
      <td>617</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[government agencies, crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>109.0</td>
      <td>1265.0</td>
      <td>3072.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Texas</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>617</td>
      <td>Tue Jul 11 2017</td>
    </tr>
    <tr>
      <th>644</th>
      <td>644</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>United States Air Force</td>
      <td>[Mission ID, Mission Date, Theater of Operatio...</td>
      <td>[numeric, dateTime, string, string, string, st...</td>
      <td>Content This dataset consists of digitized pap...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[history, war]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>430.0</td>
      <td>3659.0</td>
      <td>27.000000</td>
      <td>Target, aircraft used, and bombs deployed for ...</td>
      <td>Aerial Bombing Operations in World War II</td>
      <td>https://www.kaggle.com/usaf/world-war-ii</td>
      <td>644</td>
      <td>Tue Jan 31 2017</td>
    </tr>
    <tr>
      <th>650</th>
      <td>650</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stanford Open Policing Project</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context On a typical day in the United States ...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[government agencies, crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>72.0</td>
      <td>754.0</td>
      <td>988.000000</td>
      <td>Data on Traffic and Pedestrian Stops by Police...</td>
      <td>Stanford Open Policing Project - Ohio</td>
      <td>https://www.kaggle.com/stanford-open-policing/...</td>
      <td>650</td>
      <td>Tue Jul 25 2017</td>
    </tr>
    <tr>
      <th>665</th>
      <td>665</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Mike Chirico</td>
      <td>[lat, lng, desc, zip, title, timeStamp, twp, a...</td>
      <td>[numeric, numeric, string, string, string, dat...</td>
      <td>Emergency (911) Calls Fire Traffic EMS for Mon...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime, law]</td>
      <td>ODbL</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6695.0</td>
      <td>58251.0</td>
      <td>11.000000</td>
      <td>Montgomery County, PA</td>
      <td>Emergency - 911 Calls</td>
      <td>https://www.kaggle.com/mchirico/montcoalert</td>
      <td>665</td>
      <td>Sat Dec 30 2017</td>
    </tr>
    <tr>
      <th>681</th>
      <td>681</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>LucasVinze</td>
      <td>[, X, REPORT_DAT, SHIFT, OFFENSE, METHOD, BLOC...</td>
      <td>[numeric, numeric, dateTime, string, string, s...</td>
      <td>Dataset of all of the crimes in the DC metro p...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1703.0</td>
      <td>13535.0</td>
      <td>109.000000</td>
      <td>Consolidated set of all registered crimes from...</td>
      <td>DC Metro Crime Data</td>
      <td>https://www.kaggle.com/vinchinzu/dc-metro-crim...</td>
      <td>681</td>
      <td>Fri Nov 03 2017</td>
    </tr>
    <tr>
      <th>729</th>
      <td>729</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>New America</td>
      <td>[plot_ID, plot_name, plot_ideology, plot_statu...</td>
      <td>[numeric, string, string, string, string, date...</td>
      <td>Content The data in this report consists of in...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[history, crime]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>522.0</td>
      <td>3500.0</td>
      <td>0.080078</td>
      <td>Terrorist activity in the United States and by...</td>
      <td>Terrorism in America, 2001-Present</td>
      <td>https://www.kaggle.com/newamerica/terrorist-ac...</td>
      <td>729</td>
      <td>Wed Feb 01 2017</td>
    </tr>
    <tr>
      <th>743</th>
      <td>743</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Chris Crawford</td>
      <td>[DATE, TIME (UTC), ACID, No. A/C, TYPE A/C, AL...</td>
      <td>[dateTime, numeric, string, numeric, string, n...</td>
      <td>Context On February 14 2012 the President sign...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[aviation]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>64.0</td>
      <td>740.0</td>
      <td>1.000000</td>
      <td>A report of laser incidents from 2010 to 2014</td>
      <td>FAA Laser Incident Reports</td>
      <td>https://www.kaggle.com/crawford/laser-incident...</td>
      <td>743</td>
      <td>Wed Aug 09 2017</td>
    </tr>
    <tr>
      <th>776</th>
      <td>776</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Armineh Nourbakhsh</td>
      <td>[category, on twitter since, twitter handle, p...</td>
      <td>[string, string, string, string, dateTime, dat...</td>
      <td>Content Attached is a list of Twitter users wh...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime, internet]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>227.0</td>
      <td>2285.0</td>
      <td>2.000000</td>
      <td>A list of Twitter users who report on disaster...</td>
      <td>Disaster/Accident Sources</td>
      <td>https://www.kaggle.com/arminehn/disasteraccide...</td>
      <td>776</td>
      <td>Sat May 27 2017</td>
    </tr>
    <tr>
      <th>786</th>
      <td>786</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Rachael Tatman</td>
      <td>[State, Year, Mo, Day, Victim, County, Race, S...</td>
      <td>[string, numeric, numeric, numeric, string, st...</td>
      <td>Context "Lynching" historically includes not o...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[united states, death, crime, violence]</td>
      <td>CC4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>46.0</td>
      <td>850.0</td>
      <td>0.180664</td>
      <td>Information on 2806 lynchings in the United St...</td>
      <td>Historical American Lynching</td>
      <td>https://www.kaggle.com/rtatman/historical-amer...</td>
      <td>786</td>
      <td>Thu Aug 17 2017</td>
    </tr>
    <tr>
      <th>818</th>
      <td>818</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Stephan Wessels</td>
      <td>[]</td>
      <td>[]</td>
      <td>Context CRIME STATISTICS INTEGRITY The South A...</td>
      <td>Other</td>
      <td>NaN</td>
      <td>[crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2052.0</td>
      <td>15824.0</td>
      <td>23.000000</td>
      <td>A history of crime statistics from 2004 to 201...</td>
      <td>Crime Statistics for South Africa</td>
      <td>https://www.kaggle.com/slwessels/crime-statist...</td>
      <td>818</td>
      <td>Wed Nov 02 2016</td>
    </tr>
    <tr>
      <th>821</th>
      <td>821</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Death Penalty Information Center</td>
      <td>[Date, Name, Age, Sex, Race, Crime, Victim Cou...</td>
      <td>[dateTime, string, numeric, string, string, st...</td>
      <td>Content The execution database includes record...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime, law]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>427.0</td>
      <td>3209.0</td>
      <td>0.150391</td>
      <td>Use of capital punishment or "death penalty" i...</td>
      <td>Executions in the United States, 1976-2016</td>
      <td>https://www.kaggle.com/usdpic/execution-database</td>
      <td>821</td>
      <td>Wed Jan 25 2017</td>
    </tr>
    <tr>
      <th>908</th>
      <td>908</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Jacob Boysen</td>
      <td>[GWNO, EVENT_ID_CNTY, EVENT_ID_NO_CNTY, EVENT_...</td>
      <td>[numeric, string, numeric, dateTime, numeric, ...</td>
      <td>Context The Armed Conflict Location and Event ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[war]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>35.0</td>
      <td>567.0</td>
      <td>13.000000</td>
      <td>35k Conflicts Across Developing Asian Countries</td>
      <td>ACLED Asian Conflicts, 2015-2017</td>
      <td>https://www.kaggle.com/jboysen/asian-conflicts</td>
      <td>908</td>
      <td>Wed Aug 09 2017</td>
    </tr>
    <tr>
      <th>929</th>
      <td>929</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>The Marshall Project</td>
      <td>[report_year, agency_code, agency_jurisdiction...</td>
      <td>[numeric, string, string, numeric, numeric, nu...</td>
      <td>Context Is crime in America rising or falling?...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[history, crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1303.0</td>
      <td>7123.0</td>
      <td>0.251953</td>
      <td>Are violent crime rates rising or falling in A...</td>
      <td>Crime in Context, 1975-2015</td>
      <td>https://www.kaggle.com/marshallproject/crime-r...</td>
      <td>929</td>
      <td>Fri Feb 10 2017</td>
    </tr>
    <tr>
      <th>981</th>
      <td>981</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>The Washington Post</td>
      <td>[season, week_num, day_of_week, gametime_local...</td>
      <td>[numeric, numeric, string, numeric, string, st...</td>
      <td>Context This dataset consists of public record...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[american football, crime]</td>
      <td>CC4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>338.0</td>
      <td>2436.0</td>
      <td>0.057617</td>
      <td>Public records of police arrests at NFL stadiums</td>
      <td>NFL Arrests</td>
      <td>https://www.kaggle.com/washingtonpost/nfl-arrests</td>
      <td>981</td>
      <td>Mon Nov 28 2016</td>
    </tr>
    <tr>
      <th>987</th>
      <td>987</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>University of Virginia</td>
      <td>[REC_ID, COMPANY, DISPOSITION_TYPE, PRIMARY_CR...</td>
      <td>[numeric, string, string, string, string, stri...</td>
      <td>Context The goal of this Corporate Prosecution...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[business, crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>72.0</td>
      <td>858.0</td>
      <td>0.902344</td>
      <td>Details of federal cases in the United States ...</td>
      <td>Corporate Prosecution Registry</td>
      <td>https://www.kaggle.com/university-of-virginia/...</td>
      <td>987</td>
      <td>Tue Jun 27 2017</td>
    </tr>
    <tr>
      <th>994</th>
      <td>994</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>The Washington Post</td>
      <td>[id, name, date, manner_of_death, armed, age, ...</td>
      <td>[numeric, string, dateTime, string, string, nu...</td>
      <td>The Washington Post is compiling a database of...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[crime, demographics]</td>
      <td>CC4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1743.0</td>
      <td>10042.0</td>
      <td>0.187500</td>
      <td>Civilians shot and killed by on-duty police of...</td>
      <td>Fatal Police Shootings, 2015-Present</td>
      <td>https://www.kaggle.com/washingtonpost/police-s...</td>
      <td>994</td>
      <td>Sat Mar 11 2017</td>
    </tr>
    <tr>
      <th>1002</th>
      <td>1002</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Department of Justice</td>
      <td>[President, Fiscal Year, Petitions Pending, Pe...</td>
      <td>[string, numeric, numeric, numeric, numeric, n...</td>
      <td>Context On April 23 2014 the Department of Jus...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[]</td>
      <td>CC0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>217.0</td>
      <td>2698.0</td>
      <td>0.007812</td>
      <td>Petitions for executive clemency granted and d...</td>
      <td>Presidential Pardons, 1900-2017</td>
      <td>https://www.kaggle.com/doj/presidential-pardons</td>
      <td>1002</td>
      <td>Fri Jan 20 2017</td>
    </tr>
    <tr>
      <th>1023</th>
      <td>1023</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>FiveThirtyEight</td>
      <td>[person, dept, eow, cause, cause_short, date, ...</td>
      <td>[string, string, dateTime, string, string, dat...</td>
      <td>Context This dataset contains data behind the ...</td>
      <td>CSV</td>
      <td>NaN</td>
      <td>[death, crime]</td>
      <td>Other</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>998.0</td>
      <td>6720.0</td>
      <td>4.000000</td>
      <td>On-Duty Police Officer Deaths from 1971-2016</td>
      <td>Police Officer Deaths in the U.S.</td>
      <td>https://www.kaggle.com/fivethirtyeight/police-...</td>
      <td>1023</td>
      <td>Sat Nov 05 2016</td>
    </tr>
    <tr>
      <th>2974</th>
      <td>2976</td>
      <td>[Regression ]</td>
      <td>NaN</td>
      <td>Creator: Michael Redmond (redmond '@' lasalle....</td>
      <td>NaN</td>
      <td>Multivariate</td>
      <td>Many variables are included so that algorith...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Social</td>
      <td>NaN</td>
      <td>128</td>
      <td>1994</td>
      <td>NaN</td>
      <td>174164.0</td>
      <td>NaN</td>
      <td>Communities within the United States. The data...</td>
      <td>Communities and Crime</td>
      <td>https://archive.ics.uci.edu/ml/datasets/Commun...</td>
      <td>180</td>
      <td>2009</td>
    </tr>
    <tr>
      <th>2997</th>
      <td>2999</td>
      <td>[Regression ]</td>
      <td>NaN</td>
      <td>-- Creator: Michael Redmond (redmond 'at' la...</td>
      <td>NaN</td>
      <td>Multivariate</td>
      <td>The source datasets needed to be combined via ...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Social</td>
      <td>NaN</td>
      <td>147</td>
      <td>2215</td>
      <td>NaN</td>
      <td>93744.0</td>
      <td>NaN</td>
      <td>Communities in the US. Data combines socio-eco...</td>
      <td>Communities and Crime Unnormalized</td>
      <td>https://archive.ics.uci.edu/ml/datasets/Commun...</td>
      <td>203</td>
      <td>2011</td>
    </tr>
  </tbody>
</table>